# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'gmaps'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
output_data_file = pd.read_csv("../python-api-challenge/cities.csv")
output_data_file

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,New Norfolk,100,AU,1622616337,59,-42.7826,147.0587,57.58,3.36
1,Severo-Kuril'sk,47,RU,1622616337,81,50.6789,156.1250,42.44,2.71
2,Najrān,46,SA,1622616337,13,17.4924,44.1277,90.25,13.51
3,Eidsvåg,23,NO,1622616338,44,62.7767,8.0668,61.45,3.29
4,Mattru,89,SL,1622616338,93,7.6244,-11.8332,74.28,1.10
...,...,...,...,...,...,...,...,...,...
563,Sava,0,IT,1622616511,48,40.4034,17.5584,67.78,2.93
564,Chapais,49,CA,1622616511,99,49.7834,-74.8492,49.78,5.08
565,Liverpool,0,GB,1622616511,67,53.4106,-2.9779,64.45,1.99
566,Krasnosel'kup,100,RU,1622616512,85,65.7000,82.4667,40.77,19.46
567,Richards Bay,1,ZA,1622616512,59,-28.7830,32.0377,62.29,8.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure